name: Actualizar Localizaciones Pragmatic

on:
  workflow_dispatch:

jobs:
  actualizar-localizaciones:
    runs-on: ubuntu-latest

    env:
      AMBIENTE: "master"
      LOCALIZACIONES: "l10n_co_base l10n_co_cei l10n_co_payroll"
      VERSION_ODOO_CLIENTE: "18.0"

    steps:

    # 1. Clonacion de Repositorio de Cliente
    - name: Clonar Repositorio $AMBIENTE del cliente
      run: |
        git clone https://USERNAME:${{ secrets.CLIENT_REPO_TOKEN }}@github.com/Pragmatic-sebastian/trial-github-actions.git --branch $AMBIENTE cliente_repo
        cd cliente_repo
        ls
        cd l10n_co_base
        ls

    - name: Forzar submódulos a usar HTTPS
      run: |
        git config --global url."https://x-access-token:${{ secrets.CLIENT_REPO_TOKEN }}@github.com/".insteadOf "git@github.com:"
      

    # 2. Inicializar submódulos
    - name: Inicializar submódulos
      run: |
        cd cliente_repo
        git submodule init

    # 3. Actualizar submódulos
    - name: Actualizar submódulos
      run: |
        cd cliente_repo
        git submodule update $LOCALIZACIONES
        cd l10n_co_base
        ls
    

    # # 3. Actualizar solo submódulos de las localizaciones
    # - name: Actualizar submódulos localizaciones
    #   run: |
    #     cd cliente_repo
    #     for module in $LOCALIZACIONES; do
    #       if [ -d "$module" ]; then
    #         echo "Actualizando $module ..."
    #         cd "$module"
    #         git fetch origin
    #         git checkout "$VERSION_ODOO_CLIENTE"
    #         git pull origin "$VERSION_ODOO_CLIENTE"
    #         cd -
    #       else
    #         echo "El submódulo $module NO existe"
    #       fi
    #     done

    # # 4. Commit
    # - name: Commit
    #   run: |
    #     cd external
    #     git config user.name "GitHub Actions"
    #     git config user.email "actions@github.com"
    #     git add .
    #     git commit -m "Actualización automática submódulos: $LOCALIZACIONES (rama $VERSION_ODOO_CLIENTE)" || echo "Sin cambios"

    # # 6. Push final
    # - name: Push
    #   run: |
    #     cd external
    #     git push origin HEAD:main
