name: Actualizar Localizaciones Pragmatic

on:
  workflow_dispatch:

jobs:
  actualizar-localizaciones:
    runs-on: ubuntu-latest

    env:
      AMBIENTE: "master"
      LOCALIZACIONES: "l10n_co_base l10n_co_cei l10n_co_payroll"
      RAMA_MODULO: "develop-17.0"

    steps:

    # 1. Clonacion de Repositorio de Cliente
    - name: Clonar Repositorio $AMBIENTE del cliente
      run: |
        git clone https://USERNAME:${{ secrets.CLIENT_REPO_TOKEN }}@github.com/Pragmatic-sebastian/trial-github-actions.git --branch $AMBIENTE cliente_repo
        cd cliente_repo
        ls
        cd l10n_co_base
        ls

    # 2. Forzar a los submodulos a usar HTTPS (Se hace de esta forma para evitar error y usar la llave ya generada)    
    - name: Forzar submódulos a usar HTTPS
      run: |
        git config --global url."https://x-access-token:${{ secrets.CLIENT_REPO_TOKEN }}@github.com/".insteadOf "git@github.com:"
      

    # 3. Inicializar submódulos
    - name: Inicializar submódulos
      run: |
        cd cliente_repo
        git submodule init

    # 4. Actualizar submódulos
    - name: Actualizar submódulos
      run: |
        cd cliente_repo
        git submodule update $LOCALIZACIONES
        cd l10n_co_base
        ls
    

    # 5. Actualizar cada modulo de localizacion
    - name: Actualizar localizaciones
      run: |
        cd cliente_repo
        for modulo in $LOCALIZACIONES; do
          if [ -d "$modulo" ]; then
            echo "Actualizando $modulo ..."
            cd "$modulo"
            git checkout "$RAMA_MODULO"
            git pull
            cd -
          else
            echo "El submódulo $modulo NO existe"
          fi
        done




    # # 4. Commit
    # - name: Commit
    #   run: |
    #     cd external
    #     git config user.name "GitHub Actions"
    #     git config user.email "actions@github.com"
    #     git add .
    #     git commit -m "Actualización automática submódulos: $LOCALIZACIONES (rama $RAMA_MODULO)" || echo "Sin cambios"

    # # 6. Push final
    # - name: Push
    #   run: |
    #     cd external
    #     git push origin HEAD:main
